.book-entry {
  --cols: 6;
  --gaps: 30px * (var(--cols) - 1);
  width: calc((100% - var(--gaps)) / var(--cols));
  text-decoration: none;
  color: var(--dark);
  padding: 4px;
  border-radius: 10px;
}

.book-entry:hover {
  background-color: var(--lightest-gray);
  outline: 1px solid var(--light-gray);
}

.book-entry * + * {
  margin-top: 6px;
}

.book-entry img {
  width: 100%;
  aspect-ratio: 1 / 1.5;
  /* height: 260px; */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}

.book-entry__title {
  color: var(--secondary);
  font-size: 1.15rem;
  font-weight: 700;
}

.book-entry__author {
  color: var(--dark);
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1120px) {
  .book-entry {
    --cols: 4;
  }
}

@media screen and (max-width: 750px) {
  .book-entry {
    --cols: 3;
  }
}

@media screen and (max-width: 600px) {
  .book-entry {
    --cols: 2;
  }
}