.review-pagination {
  padding-block: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Lato", sans-serif;
  position: relative;
}

.review-pagination span {
  display: flex;
  gap: 20px
}

.review-pagination span a {
  color: var(--secondary);
  text-decoration: none;
}

.review-pagination span a.active {
  color: var(--dark);
  text-decoration: underline;
}

.review-pagination__previous {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
}

.review-pagination__previous::before {
  content: "\276E";
  margin-right: 4px;
}

.review-pagination__next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
}

.review-pagination__next::after {
  content: "\276F";
  margin-left: 4px;
}

@media screen and (max-width: 550px) {
  .review-pagination__previous,
  .review-pagination__next {
    width: auto;
  }

  .review-pagination__previous span,
  .review-pagination__next span {
    display: none;
  }
}