<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title == "Home" %}
    {% set displayTitle = "jRev Reviews" %}
    {% set metaTitle = displayTitle %}
  {% else %}
    {% set displayTitle = title + " | jRev Reviews" %}
    {% set metaTitle = title + " by " + author %}
  {% endif %}
  <title>{{ displayTitle }}</title>

  {% set metaUrl = page.url %}
  {% if isReview %}
    {% set metaType = "article" %}
    {% set metaImage = "/images/covers/" + title | slug + ".jpg" %}
  {% else %}
    {% set metaType = "website" %}
    {% set metaImage = "/images/og-image.jpg" %}
  {% endif %}
  {% set metaDescription = excerpt or 'Book reviews written by Jed R. Cruz' %}


  <meta name="description" content="{{ metaDescription }}">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://books.jrevita.com{{ metaUrl }}">
  <meta property="og:type" content="{{ metaType }}">
  <meta property="og:title" content="{{ metaTitle }}">
  <meta property="og:description" content="{{ metaDescription }}">
  <meta property="og:image" content="{{ metaImage }}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="books.jrevita.com">
  <meta property="twitter:url" content="https://books.jrevita.com{{ metaUrl }}">
  <meta name="twitter:title" content="{{ metaTitle }}">
  <meta name="twitter:description" content="{{ metaDescription }}">
  <meta name="twitter:image" content="{{ metaImage }}">

  <!-- Lineicons CDN -->
  <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="icon" type="x/icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
</head>