<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title == "Home" %}
    {% set displayTitle = "jRev Reviews" %}
  {% else %}
    {% set displayTitle = title + " | jRev Reviews" %}
  {% endif %}
  <title>{{ displayTitle }}</title>
  <meta name="description" content="A collection of book reviews written by Jed R. Cruz">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://books.jrevita.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ displayTitle }}">
  <meta property="og:description" content="A collection of book reviews written by Jed R. Cruz">
  <meta property="og:image" content="">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="books.jrevita.com">
  <meta property="twitter:url" content="https://books.jrevita.com/">
  <meta name="twitter:title" content="{{ displayTitle }}">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Lineicons CDN -->
  <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="icon" type="x/icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
</head>