<section id="featured-genres">
  <div class="wrapper stack">
    <h3>Featured genres</h3>
    <div class="featured-genres__container">
      <div class="featured-genres__left stack">
        <p class="featured-genres__statement">
          I'll read <em>anything</em>.
        </p>
        <p>Here are some of the genres I’ve enjoyed. I switch up this list every so often. You can also check the full list of genres covered (I just make them up as I go along) below.</p>
        <a class="button" href="/genres">View all genres</a>
      </div>
      <div class="featured-genres__right">
        {% include "blocks/genre-list.njk" %}
      </div>
    </div>
  </div>
</section>