<header>
  <div class="wrapper">
    <div class="header__logo">
      <p>
        <a href="{{ navigation.items[0].url }}">
          <img src="/images/logo-white.svg" alt="">
          <span class="text">jRev Reviews</span>
        </a>
        <span class="menu"><i class="lni lni-menu-hamburger-1"></i></menu>
      </p>
    </div>
    {% include "blocks/main_nav.njk" %}
  </div>
</header>